/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2017, 9:55:15 PM
    Author     : johnw
*/

body
{
    background-image: url(nbproject/ediCbu.gif);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
}

p
{
    
    border: 10px double blue;
    background-color: white;
    float: right;
    font-size: 32px;
    color: red;
    
}

#newparagraph
{
    border: 10px double blue;
    background-color: white;
    float: left;
    font-style: italic;
    font-size: 24px;
}
